


  <center><br><br><br>
<div class="row">
  <div class="field">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
  </div>
</div>

  <div class="field">
    <%= f.label :"이메일" %></br>
    <%= f.email_field :email, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :"이름" %></br>
    <%= f.text_field :name, autofocus: true %>
  </div>
    
  <div class="field">
    <%= f.label :"별명" %></br>
    <%= f.text_field :nickname, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  
  <div class="field">
    <%= f.label :"현재 비밀번호" %>
    <p><i>(개인정보를 변경하기 위해 현재 비밀번호가 필요합니다.)</i></p>
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :"새 비밀번호" %></br> <i>(변경을 원하지 않으면 비워두세요.)</br></i>
    <%= f.password_field :password, autocomplete: "off" %></br>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> 자리 이상</em>
    <% end %>
  </div>


  <div class="field">
    <%= f.label :"새 비밀번호 확인" %></br>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  

  <div class="actions" style= "margin-top: 5px">
    <%= f.submit "수정", class: "btn btn-default" %>
    <%= link_to "뒤로", :back, class: "common btn btn-default" %>
  </div>
<% end %>


<p> <%= button_to "회원 탈퇴", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>



</center>

