				<header>
					<div class="logo" style="float:left", "margin-left:20px">
						<a href="/home/index">
						<img src="http://postfiles1.naver.net/20160810_176/georgeyeon_14707753964308r3Yd_JPEG/xs.jpg?type=w1" alt="">
						</a>
					</div>
					
					<div class="mobile-menu">
						<span class="line"></span>
					</div>
					
					<div class="row">
					<nav>
						<!--<div class="col-md-6">-->
						<ul id="menu" class="left" style="float:left">
							<li><a href="/home/index">Home</a></li>
							<li><a href="/home/about">About</a></li>
							<li><a href="/home/contact">Contact</a></li>
							<li><a href="/home/matching">Matching</a></li>
							<li><a href="/home/my_pages">My Pages</a>
								
							</li>
							</ul>
						<!--</div>-->
						
						<!--<div class="col-md-4 col-md-offset-4">-->
						<ul id="menu2" class="right">
							<li>
							<feildset>
								<a href="#"><input class="form-control"></a> 
							</feildset>
							
							</li>
							<li></li>
							<li></li>
	
							    <% if user_signed_in? %>
							      <li class="dropdown">
							        <a href="" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.nickname %> <b class="caret"></b></a>
							        <ul class="dropdown-menu">
							          <li><%= link_to "계정관리", edit_user_registration_path %></li>
							          <li><%= link_to "로그아웃", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" } %></li>
							        </ul>
							      </li>
							    <% else %>
									 <li><%= link_to "로그인", new_user_session_path %></li>
									 <li><%= link_to "로그아웃", new_user_registration_path %></li>
									
							    <% end %>
						</ul>
						<!--</div>-->
					</nav>
					</div>
					
			
				</header>