<!DOCTYPE html>
<html>
	<body>
		<div class="loader"></div>
        
		
			<!--<div class="container">-->

				<br>
				<!--<a href="/home/write_post" class="btn btn-default" role="button">글쓰기</a>-->
				
				<!--<div class="container">-->
					<div class="row">
							<img src="http://postfiles14.naver.net/20160810_77/georgeyeon_1470766040020kNubi_JPEG/KakaoTalk_20160806_151953592.jpg?type=w1" alt="">
					</div>
					<% @users.each do |u|%>
						<%u.name%>
						<a href="/show/<%=u.id%>"><%=u.name%>에게 메시지 보내기</a>
					<%end%>
				<!--</div>-->
				<hr>
				<div class="container">
				  <div class="wrapper">
				   <div class="portfolio">
					
					<div class="row portfolio-masonry" >
						 <% @every_pet.each do |new_pet| %>
						<div class="selector col-md-4 col-sm-6 col-xs-12 webdesign">
							<a href="/pet_content/<%= new_pet.id %>">
								<div class="item" style="background-image: url('<%= new_pet.image_url %>')">
									<div class="overlay">
										<div class="inner-overlay">
											<h3><%= new_pet.kind %></h3>
											<span><%= new_pet.age %></span>
										</div>
									</div>
								
								</div>
							</a>
						</div>
						<% end %>
					</div>
				<hr>
			    </div>
			   </div>
			</div>
	</body>
</html>