<div class="container">
	<div class="wrapper">
	  <div class="portfolio">
					
			<div class="row portfolio-masonry" >
			  <% @every_pet.each do |new_pet| %>
				<div class="selector col-md-4 col-sm-6 col-xs-12 webdesign">
					<a href="pet_content/<%= new_pet.id %>">
						<div class="item" style="background-image: url('<%= new_pet.image_url %>')">
							<div class="overlay">
								<div class="inner-overlay">
									<h3><%= new_pet.kind %></h3>
									<span><%= new_pet.age %></span>
								</div>
							</div>
						
						</div>
					</a>
					<a href="delete_pet/<%= new_pet.id %>">파일삭제</a>
				</div>
				
				<% end %>
				
			</div>
	   </div>
    </div>
</div>
<a href="home/upload_pet">파일올리기</a>
				
				
	