<div class="container">
	<div class="wrapper">
	  <div class="portfolio">

			<div class="row portfolio-masonry" >
	
			  <% @every_pet.each do |new_pet| %>
				<div class="selector col-md-4 col-sm-6 col-xs-12 webdesign">
					<a href="pet_content/<%= new_pet.id %>">
						<div class="item" style="background-image: url('<%= new_pet.image_url %>')">
							<div class="overlay">
								<div class="inner-overlay">
									<h3><%= new_pet.kind %></h3>
									<span><%= new_pet.age %></span>
								</div>
							</div>
						
						</div>
					</a>
					<!--<a href="delete_pet/<%= new_pet.id %>" class="btn btn-default">파일삭제</a>-->  
                     <!-- 삭제시 확인창이 뜨게 하였음 -->
                    <% if user_signed_in? %>
                    <% if new_pet.user_id == current_user.id %>
					 <a href="delete_pet/<%= new_pet.id %>" onclick="return confirm('파일을 삭제하시겠습니까?');" class="btn btn-default">파일삭제</a>
				    <% end %>
				    <% unless new_pet.user_id == current_user.id %>
				    <% end %>
				    <% end %>
				</div>
				
				<% end %>
				
			</div>
	   </div>
    </div>
    </br></br>
    <% if user_signed_in? %>
    <a href="home/upload_pet" class="btn btn-default">게시글 작성</a>
    <% end %>
    <% unless user_signed_in? %>
    <% end %>
</div>


		
	
				
				
	